//-------------------------------------------------------------//
//-------------------------------------------------------------//
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu-navigation {
    display: none;
  }
  .header {
    position: fixed;
    z-index: 1000;
    background-color: white;
    width: 100%;
    border: 1px solid #eeeeee;
  }

  .menu-navigation {
    text-align: center;
  }

  .menu-container {
    position: absolute;
    z-index: 999;
    padding-top: 60px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    text-align: center;
    font-size: 20px;

    top: 100%;
    left: 0;
    width: 100%;
    display: none;

    &.is-open {
      display: block;
      height: 400px;
      & .menu-navigation {
        display: inline-block;
      }
    }
  }
  .navigation {
    display: flex;
    align-items: center;

    height: 60px;
  }
  .address-list {
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    &-item:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  .address-icon {
    margin-right: 10px;
    fill: $color-text-grey;
  }

  .navigation {
    align-items: center;
    &__list {
      margin-bottom: 60px;
      &-item:not(:last-child) {
        margin-bottom: 40px;
        // position: relative;
      }

      &-link {
        position: relative;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: $color-text-title;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
          color: $accent-color;
        }
      }
    }
  }
  .header-address-link {
    // display: flex;
    // align-items: center;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $color-text-grey;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & svg {
      fill: #afb1b8;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover,
    &:focus {
      color: $accent-color;
      & svg {
        fill: $accent-color;
      }
    }
  }
}
//--------Стили Хеадера для Планшета-----//
@import '../layout/header-tablet';
//--------Стили Хеадера для Десктопа-----//
@import '../layout/header-desktop';
//---------------------------------------//
