.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow-y: scroll;

  background-color: rgba(160, 148, 125, 0.5);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
body.modal-open {
  overflow: hidden;
}
