@media screen and (max-width: 767px) {
  .footer-form {
    width: 100%;
    height: 86px;
    // margin-left: 93px;

    &-title {
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
      margin-bottom: 20px;
    }
    &__input {
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      border: none;

      padding-left: 16px;
      color: #ffffff;

      width: 100%;
      height: 50px;
      margin-bottom: 20px;

      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;

      background-color: transparent;

      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
      }

      &:focus,
      &:hover {
        border: 1px solid $accent-color;
        cursor: pointer;
        outline: none;
      }
    }
  }

  .footer-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    & svg {
      margin-left: 12px;
    }
  }

  .footer-icon-submit {
    fill: #ffffff;
  }
  .footer-button {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 29px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    width: 450px;
    height: 86px;
    // margin-left: 93px;

    &-title {
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
      margin-bottom: 20px;
    }
    &__input {
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      border: none;

      padding-left: 16px;
      color: #ffffff;

      width: 100%;
      height: 50px;
      margin-bottom: 20px;

      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;

      background-color: transparent;

      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
      }

      &:focus,
      &:hover {
        border: 1px solid $accent-color;
        cursor: pointer;
        outline: none;
      }
    }
  }

  .footer-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    & svg {
      margin-left: 12px;
    }
  }

  .footer-icon-submit {
    fill: #ffffff;
  }
  .footer-button {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 29px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    width: 570px;
    height: 86px;
    // margin-left: 93px;

    &-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
      margin-bottom: 20px;
    }
    &__input {
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      border: none;
      margin-right: 12px;
      padding-left: 16px;
      color: #ffffff;

      width: 358px;
      height: 50px;

      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;

      background-color: transparent;

      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
      }

      &:focus,
      &:hover {
        border: 1px solid $accent-color;
        cursor: pointer;
        outline: none;
      }
    }
  }

  .footer-input {
    display: flex;
    align-items: center;
    & svg {
      margin-left: 12px;
    }
  }

  .footer-icon-submit {
    fill: #ffffff;
  }
  .footer-button {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 29px;
  }
}
