@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
    padding: 40px 40px;
    background-color: #fff;

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .close-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 8px;
    right: 8px;
    position: absolute;
    background: white;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & svg {
      fill: black;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover svg {
      fill: $accent-color;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
    padding: 40px 40px;
    background-color: #fff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .close-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 8px;
    right: 8px;
    position: absolute;
    background: white;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & svg {
      fill: black;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover svg {
      fill: $accent-color;
    }
  }
}
//---------------------------------------------------------------------------------------//
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    padding: 40px 40px;
    background-color: #fff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .close-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 8px;
    right: 8px;
    position: absolute;
    background: white;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & svg {
      fill: black;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover svg {
      fill: $accent-color;
    }
  }
}
