.modal-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  letter-spacing: 0.06em;
  color: #ffffff;
  background: $accent-color;
  padding: 10px 32px;
  cursor: pointer;

  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .modal-btn {
    padding: 10px 25px;
  }
}
