@media screen and (max-width: 767px) {
  .portfolio-buttons {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    margin-bottom: 40px;

    &-item:not(:last-child) {
      margin-right: 8px;
    }
    &-item:not(:nth-last-child(-n + 2)) {
      margin-bottom: 15px;
    }

    .portfolio-modal-btn {
      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.625;
      text-align: center;
      letter-spacing: 0.03em;
      color: $color-text-title;
      cursor: pointer;
      transition: color 250ms, background-color 250ms,
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

      background: #f5f4fa;
      border-radius: 4px;
      padding: 6px 22px;
      height: 38px;
      min-width: 73px;
      border: 1px solid #f5f4fa;

      &:hover,
      &:focus,
      &:active {
        color: #ffffff;
        background: $accent-color;
        border: 1px solid $accent-color;

        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
          0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
      }
    }

    .portfolio-item-link:hover,
    .portfolio-item-link:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &-item:not(:last-child) {
      margin-right: 8px;
    }
  }

  .portfolio-modal-btn {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-text-title;
    cursor: pointer;
    transition: color 250ms, background-color 250ms,
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background: #f5f4fa;
    border-radius: 4px;
    padding: 6px 22px;
    height: 38px;
    min-width: 73px;
    border: 1px solid #f5f4fa;

    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
      background: $accent-color;
      border: 1px solid $accent-color;

      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }

  .portfolio-item-link:hover,
  .portfolio-item-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &-item:not(:last-child) {
      margin-right: 8px;
    }
  }

  .portfolio-modal-btn {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-text-title;
    cursor: pointer;
    transition: color 250ms, background-color 250ms,
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background: #f5f4fa;
    border-radius: 4px;
    padding: 6px 22px;
    height: 38px;
    min-width: 73px;
    border: 1px solid #f5f4fa;

    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
      background: $accent-color;
      border: 1px solid $accent-color;

      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }

  .portfolio-item-link:hover,
  .portfolio-item-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
