*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: $main-font;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
img {
  display: block;
  width: 100%;
}

.title-h-white {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-text-secondary-title;
}
.title-h-black {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-text-title;
}
