.container {
  padding: 0 15px;
  // outline: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
    .features & {
      padding: 60px 15px;
    }
  }
}
@media screen and (min-width: 768px) {
  .container {
    // display: flex;
    width: 768px;
    margin: 0 auto;
    .features & {
      // display: flex;
      // flex-wrap: wrap;
      padding: 60px 15px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;

    .header & {
      display: flex;
      align-items: center;
    }

    .portfolio & {
      padding-top: 94px;
      padding-bottom: 94px;
    }
    .clients & {
      padding-top: 94px;
      padding-bottom: 94px;
    }
    .features & {
      padding-top: 94px;
      padding-bottom: 47px;
    }

    .hero-page & {
      padding-top: 200px;
      flex-wrap: wrap;
      flex-direction: column;
    }
    .team & {
      padding-top: 94px;
      padding-bottom: 94px;
    }
    .we-doing & {
      padding-top: 47px;
      padding-bottom: 94px;
    }
    .footer & {
      align-items: center;
    }
  }
}
