//   --accent-color: #2196f3;
//   --main-font: 'Roboto', sans-serif;
//   --secondary-font: 'Raleway', sans-serif;
//   --color-text-grey: #757575;
//   --color-text-title: #212121;
//   --color-text-secondary-title: #ffffff;

$accent-color: #2196f3;
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$color-text-grey: #757575;
$color-text-title: #212121;
$color-text-secondary-title: #ffffff;
